<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.aron.excheck.dao.template.TemplateInfoDao">

    <!-- 根据模板id获取模板信息 -->
    <select id="findByTemplateId" parameterType="String" resultType="TemplateInfo">
        select * from template_info where template_id = #{templateId}
    </select>

</mapper>
 
